@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: system-ui, sans-serif;
  background: #4f6f91;
  color: white;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Neumorphism helpers */
.neu {
  box-shadow: 8px 8px 16px #3f5f80, -8px -8px 16px #5f89b5;
}

.neu-inset {
  box-shadow: inset 6px 6px 12px #3f5f80,
    inset -6px -6px 12px #5f89b5;
}